{% import 'macros.j2' as tpl with context %}
{% if dhcpd_subnets is defined and
      dhcpd_subnets | count > 0 %}
  {% for subnet, values in dhcpd_subnets.items() %}
    {%- set _subnet = None %}
    {%- set _netmask = None %}
    {% if values.comment is defined and values.comment %}
# {{ values.comment }}
    {% endif %}
    {% if values.netmask is defined or values.subnet is defined %}
      {%- set _subnet, _netmask = values.subnet | dhcp_subnet %}
    {% endif %}
    {% if _subnet %}
subnet {{ _subnet }} netmask {{ _netmask }} {
    {% endif %}
    {% if values.routers is defined and values.routers %}
  option routers {{ values.routers | join(', ') }};
    {% endif %}
    {% if values.options is defined and values.options %}
{{ tpl.print_options(values.options) | indent(2, true) }}
    {% endif %}
    {% if values.pools is defined and values.pools %}
      {% for pool in values.pools %}
        {% if pool.comment is defined and pool.comment %}
  # {{ pool.comment }}
        {% endif %}
  pool {
    range {{ pool.range }};
        {% if pool.options is defined and pool.options %}
    {{ tpl.print_options(pool.options) }}
        {% endif %}
        {% if pool.max_lease_time is defined %}
    max-lease-time {{ pool.max_lease_time }};
        {% endif %}
        {% if pool.allow is defined %}
    allow {{ pool.allow }};
        {% endif %}
        {% if pool.deny is defined %}
    deny {{ pool.deny }};
        {% endif %}
  }
      {% endfor %}
    {% endif %}
    {% if values.hosts is defined and values.hosts %}
{{ tpl.print_hosts(values.hosts) | indent(2, true) }}
    {% endif %}
    {% if _subnet %}
}

    {% endif %}
  {% endfor %}
{% endif %}
