{% import 'macros.j2' as tpl with context %}
{#
  vim: ft=dhcpd
#}
# {{ ansible_managed }}

{% if dhcpd_server_global.authoritative is defined and
      dhcpd_server_global.authoritative %}
authoritative;
{% else %}
not authoritative;
{% endif %}

{%- if dhcpd_server_global.default_lease_time is defined and
      dhcpd_server_global.default_lease_time %}
default-lease-time {{ dhcpd_server_global.default_lease_time }};
{% endif %}

{%- if dhcpd_server_global.max_lease_time is defined and
      dhcpd_server_global.max_lease_time %}
max-lease-time {{ dhcpd_server_global.max_lease_time }};
{% endif %}

{%- if dhcpd_server_global.log_facility is defined and
      dhcpd_server_global.log_facility %}
log-facility {{ dhcpd_server_global.log_facility }};
{% endif %}

{%- if dhcpd_ddns_update_style | d() and dhcpd_ddns_update_style %}
ddns-update-style {{ dhcpd_ddns_update_style }};
{% endif %}

{%- if dhcpd_allow_client_updates is defined and dhcpd_allow_client_updates %}
allow client-updates;
{% endif %}

# options
{% include('dhcpd.d/options.j2') %}

# subnets
{% include('dhcpd.d/subnets.j2') %}

# groups
{% include('dhcpd.d/groups.j2') %}

# hosts
{% include('dhcpd.d/hosts.j2') %}
