#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}
{% import 'macros.j2' as tpl with context %}

{% if dhcpd_server_global.authoritative is defined and
      dhcpd_server_global.authoritative %}
authoritative;
{% else %}
not authoritative;
{% endif %}

{% if dhcpd_server_global.lease_times.default is defined and
      dhcpd_server_global.lease_times.default | string | length > 0 %}
default-lease-time {{ dhcpd_server_global.lease_times.default }};
{% endif %}

{% if dhcpd_server_global.lease_times.max is defined and
      dhcpd_server_global.lease_times.max | string | length > 0 %}
max-lease-time {{ dhcpd_server_global.lease_times.max }};
{% endif %}

{% if dhcpd_server_global.log.facility is defined and
      dhcpd_server_global.log.facility | string | length > 0 %}
log-facility {{ dhcpd_server_global.log.facility }};
{% endif %}

{% if dhcpd_server_global.ddns_update_style is defined and
      dhcpd_server_global.ddns_update_style in ["ad-hoc", "interim", "standard", "none"] %}
{# https://kb.isc.org/docs/aa-01091 #}
ddns-update-style {{ dhcpd_server_global.ddns_update_style }};
{% endif %}

{% if dhcpd_server_global.allow_client_updates is defined and
      dhcpd_server_global.allow_client_updates | string | length > 0 %}
allow client-updates;
{% endif %}

# options
{% include('dhcpd.d/options.j2') %}

# subnets
{% include('dhcpd.d/subnets.j2') %}

# groups
{% include('dhcpd.d/groups.j2') %}

# hosts
{% include('dhcpd.d/hosts.j2') %}
