#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}

# Path to dhcpd's config file (default: /etc/dhcp/dhcpd.conf).
#DHCPDv4_CONF=/etc/dhcp/dhcpd.conf
#DHCPDv6_CONF=/etc/dhcp/dhcpd6.conf
# DHCPD_CONF=/etc/dhcp/dhcpd.conf

# Path to dhcpd's PID file (default: /var/run/dhcpd.pid).
#DHCPDv4_PID=/var/run/dhcpd.pid
#DHCPDv6_PID=/var/run/dhcpd6.pid
# DHCPD_PID=/run/dhcpd.pid

# Additional options to start dhcpd with.
#	Don't use options -cf or -pf here; use DHCPD_CONF/ DHCPD_PID instead
OPTIONS="{{ dhcpd_server_options | default('-4') }}"

# On what interfaces should the DHCP server (dhcpd) serve DHCP requests?
#	Separate multiple interfaces with spaces, e.g. "eth0 eth1".
{% if dhcpd_interfaces is defined and
      dhcpd_interfaces | count > 0 %}
  {% if dhcpd_interfaces.ipv4 is defined and
        dhcpd_interfaces.ipv4 | string | length > 0 %}
INTERFACESv4="{{ dhcpd_interfaces.ipv4 | join(' ') }}"
  {% endif %}
  {% if dhcpd_interfaces.ipv6 is defined and
        dhcpd_interfaces.ipv6 | string | length > 0 %}
INTERFACESv6="{{ dhcpd_interfaces.ipv6 | join(' ') }}"
  {% endif %}
{% endif %}
